{% extends 'container.html.twig' %}

{% block content %}
    <div class="page-header">
        <h2>Почетна</h2>
    </div>

    Maktrick Tracker е CHPP алатка за следење на македонски играчи.
    <br /><br />
    Имаш идеја што да има на почетната страна? Прати ми порака или пиши на форумот и просветли не.
{% endblock %}
